In [1]:
import numpy as np
import pandas as pd
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [2]:
train_df = pd.read_csv("/kaggle/input/nlp-getting-started/train.csv")
test_df = pd.read_csv("/kaggle/input/nlp-getting-started/test.csv")

In [3]:
# Exploring the data
train_df[train_df["target"] == 0]["text"].values[4]

'What a goooooooaaaaaal!!!!!!'

In [4]:
train_df[train_df["target"] == 1]["text"].values[20]

'Deputies: Man shot before Brighton home set ablaze http://t.co/gWNRhMSO8k'

In [5]:
# Breaking down the tweets into machine readable vectors
count_vectorizer = feature_extraction.text.CountVectorizer()

example_train_vectors = count_vectorizer.fit_transform(train_df["text"][0:5])

In [6]:
print(example_train_vectors[0].todense().shape)
print(example_train_vectors[0].todense())

(1, 54)
[[0 0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0
  0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0]]

In [7]:
# The above lets us know there are 54 unique words in the first 5 tweets.

In [8]:
train_vectors = count_vectorizer.fit_transform(train_df["text"])
test_vectors = count_vectorizer.transform(test_df["text"])

In [21]:
# Building the classifier
clf = linear_model.SGDClassifier()

In [22]:
scores = model_selection.cross_val_score(clf, train_vectors, train_df["target"], cv=3, scoring="f1")
scores

array([0.58342541, 0.576     , 0.59378468])

In [23]:
# Predicting on the training set
clf.fit(train_vectors, train_df["target"])

SGDClassifier()

In [24]:
sample_submission = pd.read_csv("/kaggle/input/nlp-getting-started/sample_submission.csv")
sample_submission["target"] = clf.predict(test_vectors)
sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       1
4  11       1

In [25]:
sample_submission.to_csv("submission.csv", index=False)